<mat-form-field class="search-bar">
  <input (keyup)="search($event.target.value)" #i matInput placeholder="Search by name or CIN">
</mat-form-field>
<p class="title" *ngIf="!i.value">Type something in the search bar</p>
<p class="title" *ngIf="clients?.length < 1 && !isLoading && i.value">No clients found</p>
<mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
<table mat-table *ngIf="clients?.length > 0" [dataSource]="clients" class="mat-elevation-z1">
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <img *ngIf="element.url | async as url" [src]="url" />
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <b>{{element.name.first}} {{element.name.last}}</b>
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button type="button" [disabled]="isCheckingIn" color="primary"
        (click)="performCheckin(element.id)" matTooltip="Check in">
        <mat-icon>directions_walk</mat-icon>
      </button>&nbsp;|&nbsp;
      <button mat-icon-button type="button" [disabled]="isCheckingIn" color="accent"
        (click)="performCheckin(element.id, true)" matTooltip="Check in and add a note">
        <mat-icon>directions_walk</mat-icon>
        <mat-icon>note_add</mat-icon>
      </button>&nbsp;&nbsp;&nbsp;|
      <a mat-icon-button [routerLink]="'./' + element.id" matTooltip="View profile">
        <mat-icon>account_box</mat-icon>
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"
      [matTooltip]="(element.payed | async) === 'yes'? 'Payed': (element.payed | async) === 'no'? 'Not payed': ''"
      [ngStyle]="{'backgroundColor': (element.payed | async) === 'yes'? '#4CAF50': (element.payed | async) === 'no'? '#F44336': ''}">
    </td>
  </ng-container>
  <tr mat-header-row style="display: none;" *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>