.search-bar {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}

.title {
    text-align: center;
    font-size: 24px;
}

table {
    width: 80%;
    margin-left: 10%;
}

img {
    margin-top: 5px;
    border: 1px solid black;
    width: 75px;
}

mat-spinner {
    margin-top: 10px;
    margin-left: calc(50% - 15px);
}

table {
    text-align: center;
}
