<button mat-icon-button type="button" class="close" color="warn" (click)="close()" matTooltip="Close">
  <mat-icon>close</mat-icon>
</button>
<p mat-dialog-title class="title">{{data}}</p>
<div mat-dialog-content>
  <table *ngIf="(payments | async) as ps" mat-table [dataSource]="ps" class="mat-elevation-z1">
    <ng-container matColumnDef="title">
      <td mat-header-cell *matHeaderCellDef colspan="4">
        <b>{{ps?.length ? 'Payments history': 'No payments found'}}</b>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element">
        {{element.date.toDate() | date:'MMM d, y, HH:mm'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price (MAD) </th>
      <td mat-cell *matCellDef="let element">
        <b>{{element.price}}</b>
      </td>
    </ng-container>
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element">
        {{element.note}}
      </td>
    </ng-container>
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        Payed by <a matTooltip="View profile"
          [routerLink]="['manager', 'clients', element.idClient]">{{element.idClient}}</a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['title']" class="title"></tr>
    <tr mat-header-row *matHeaderRowDef="paymentColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: paymentColumns;"></tr>
  </table>
  <table *ngIf="(charges | async) as cs" mat-table [dataSource]="cs" class="mat-elevation-z1">
    <ng-container matColumnDef="title">
      <td mat-header-cell *matHeaderCellDef colspan="4">
        <b>{{cs?.length ? 'List of charges': 'No payments found'}}</b>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element">
        {{element.date.toDate() | date:'MMM d, y, HH:mm'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Cost (MAD) </th>
      <td mat-cell *matCellDef="let element">
        <b>{{element.cost}}</b>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        {{element.name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element" [innerHtml]="toHtml(element.description)"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['title']" class="title"></tr>
    <tr mat-header-row *matHeaderRowDef="chargesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: chargesColumns;"></tr>
  </table>
</div>