<h1 mat-dialog-title>Make a payment</h1>
<div mat-dialog-content>
  <mat-radio-group [(ngModel)]="payment" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
    <mat-radio-button [value]="true">Subscription fee</mat-radio-button>
    <mat-radio-button [disabled]="data.insurance" [value]="false">Insurance</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button [disabled]="loading" mat-raised-button color="primary" (click)="addPayment()">Add payment</button>
</div>
<mat-progress-spinner *ngIf="loading" [diameter]="30" mode="indeterminate"></mat-progress-spinner>