<mat-drawer-container>
  <mat-drawer #drawer mode="side" class="mat-elevation-z4">
    <mat-nav-list>
      <mat-list-item routerLinkActive="active">
        <a matLine routerLink="./clients/">Clients</a>
        <button mat-icon-button>
          <mat-icon>portrait</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <button
      (click)="drawer.toggle()"
      class="toggler"
      mat-mini-fab
      [matTooltip]="drawer.opened ? 'Close': 'Open'"
      matTooltipPosition="after">
      <mat-icon>{{drawer.opened ? 'first_page': 'last_page'}}</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>