<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list *ngIf="isAuthenticated">
      <button
        (click)="sidenav.close()"
        i18n-matTooltip="@@appCloseMenu"
        matTooltip="Close menu"
        class="menu-close-btn"
        mat-icon-button
        type="button"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-list-item routerLinkActive="active" *ngIf="hasClaim('superadmin')">
        <a
          matLine
          routerLink="./superadmin/"
          i18n="@@appMenuItem1"
          (click)="sidenav.close()"
          >Super Admin</a
        >
        <button mat-icon-button>
          <mat-icon>supervisor_account</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider *ngIf="hasClaim('superadmin')"></mat-divider>
      <mat-list-item routerLinkActive="active" *ngIf="hasClaim('admin')">
        <a
          matLine
          routerLink="./admin/"
          i18n="@@appMenuItem2"
          (click)="sidenav.close()"
          >Admin</a
        >
        <button mat-icon-button>
          <mat-icon>trending_up</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider *ngIf="hasClaim('admin')"></mat-divider>
      <mat-list-item routerLinkActive="active" *ngIf="hasClaim('manager')">
        <a
          matLine
          routerLink="./manager/"
          i18n="@@appMenuItem3"
          (click)="sidenav.close()"
          >Manager</a
        >
        <button mat-icon-button>
          <mat-icon>portrait</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider *ngIf="hasClaim('manager')"></mat-divider>
    </mat-nav-list>
    <mat-toolbar class=" footer" fxLayoutAlign="center center" fxLayoutGap="10">
      <p>
        <i>Made with </i>
        <mat-icon color="warn">favorite</mat-icon>
        <i>v0.4.2</i>&nbsp;&nbsp;&nbsp;
      </p>
      <a
        fxFlexAlign="end"
        href="https://github.com/salah3x/gym-webapp/issues/new/choose"
        matTooltip="Report a bug or request a new feature"
        target="_blank"
      >
        <img src="/assets/github.png" />
      </a>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar mat-elevation-z4">
      <div *ngIf="isAuthenticated">
        <button
          (click)="sidenav.open()"
          i18n-matTooltip="@@appOpenMenu"
          matTooltip="Main menu"
          class="menu-btn"
          mat-icon-button
          type="button"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div (click)="router.navigate(['ss'])" class="brand">
        Gym Manager
      </div>
      <span class="fill-remaining-space"></span>
      <mat-menu #appMenu="matMenu">
        <button (click)="onSigninOrSignout()" mat-menu-item>
          <ng-container *ngIf="isAuthenticated" i18n="@@appLogout"
            >Logout</ng-container
          >
          <ng-container *ngIf="!isAuthenticated" i18n="@@appLogin"
            >Login</ng-container
          >
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-menu>
      <button
        [matMenuTriggerFor]="appMenu"
        class="menu-btn"
        [matTooltip]="(auth.user | async)?.email"
        color="default"
        mat-mini-fab
      >
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- This hidden section is for xi18n command, translated text will be used in typescript-->
<div #i18n class="translation">
  <p i18n="@@appMsg1">You have successfully disconnected.</p>
  <p i18n="@@appRouteGuard1">Please login first.</p>
  <p i18n="@@appRouteGuard2">You are not allowed to access this page.</p>
</div>
