<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened="true" class="mat-elevation-z4">
    <mat-nav-list>
      <mat-list-item routerLinkActive="active">
        <a matLine routerLink="./users/" i18n="@@s-menuItem1">Users</a>
        <button mat-icon-button>
          <mat-icon>supervisor_account</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <button (click)="drawer.toggle()" class="toggler" mat-mini-fab matTooltipPosition="after"
      [matTooltip]="drawer.opened? i18n.childNodes[0].textContent: i18n.childNodes[1].textContent">
      <mat-icon>{{drawer.opened ? 'first_page': 'last_page'}}</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
<!-- This hidden section is for xi18n command, translated text will be used in template attribute above -->
<div class="translation" #i18n>
  <p i18n="@@s-sideMenuBtnClose">Close menu</p>
  <p i18n="@@s-sideMenuBtnOpen">Open menu</p>
</div>