mat-drawer-container {
    margin-top: 50px;
}

mat-drawer {
    margin-top: 5px;
    width: 200px;
    background-color: rgb(0, 0, 0, 0.05);
}
  
mat-drawer-content {
    height: calc(100vh - 50px);
}

.active {
    background-color: rgb(0, 0, 0, 0.1);;
}

.toggler {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    left: -10px;
    bottom: 5px;
}
