<p class="title" *ngIf="!client && !isLoading">Client not found</p>
<div class="container" *ngIf="client" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <img class="mat-elevation-z2" *ngIf="client.url | async as url" [src]="url" />
  <div fxLayout="column">
    <button class="action" *ngIf="isAdmin" mat-raised-button color="primary" (click)="openPaymentDialog()"
      matTooltip="Make a payment">
      <mat-icon>monetization_on</mat-icon>
    </button>
    <button class="action" mat-raised-button [disabled]="isCheckingIn" color="default"
      (click)="performCheckin(client.id)" matTooltip="Check in">
      <mat-icon>transfer_within_a_station</mat-icon>
    </button>
  </div>
  <div class="mat-elevation-z1 id" fxFlex="60">
    <p class="title">{{client.name.first + ' ' + client.name.last}}</p>
    <p><b>Registration date : </b><i>{{client.registrationDate.toDate() | date:'longDate'}}</i></p>
    <p><b>Insurance : </b><i>{{client.insurance? 'Yes': 'No'}}</i></p>
    <p><b>Pack : </b><i>{{(client.pack.pack | async)?.name}}
        (<b>{{(client.pack.pack | async)?.price}} MAD/month</b>)</i>
      <mat-icon *ngIf="client.payed | async as payed"
        [matTooltip]="payed === 'yes'? 'Payed': payed === 'no'? 'Not payed': ''"
        [ngStyle]="{'color': payed === 'yes'? '#4CAF50': payed === 'no'? '#F44336': ''}">
        {{payed === 'yes'? 'done': payed === 'no'? 'close': ''}}
      </mat-icon>
    </p>
    <p><b>Subscription : </b><i>{{(client.pack.subscription | async)?.name}}</i></p>
    <ng-container *ngIf="client.pack.subscription | async | removeItem:client.id as sub">
      <div *ngIf="sub.subscriberIds.length > 0" class="mat-elevation-z0">
        <p><b>Members: </b>[
          <span *ngFor="let id of sub.subscriberIds; index as i">
            <a [routerLink]="['/manager', 'clients', id]">{{id}}</a>
            {{ i ==  sub.subscriberIds.length -1 ? '': ' | '}}
          </span>
          ]</p>
      </div>
    </ng-container>
  </div>
</div>
<div *ngIf="client" class="mat-elevation-z1 info">
  <p class="title">Personal information
    <button matTooltip="Edit" *ngIf="isAdmin" color="primary" mat-icon-button (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
    </button>
  </p>
  <div fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" class="info2">
    <div>
      <p><b>CIN : </b><i>{{client.cin?.toUpperCase() || 'Not provided'}}</i></p>
      <p><b>Phone : </b><i>{{client.phone || 'Not provided'}}</i></p>
    </div>
    <div>
      <p><b>Address : </b><span [innerHTML]="toHtml(client.address)"></span></p>
      <p><b>Note : </b><span [innerHTML]="toHtml(client.note)"></span></p>
    </div>
  </div>
</div>
<div *ngIf="client?.id" class="mat-elevation-z1 checkins">
  <p>Training sessions</p>
  <app-check-ins [id]="client.id"></app-check-ins>
</div>
<table *ngIf="client" mat-table [dataSource]="payments | async" class="mat-elevation-z1">
  <ng-container matColumnDef="title">
    <td mat-header-cell *matHeaderCellDef colspan="4">
      <p>{{(payments | async)?.length ? 'Payments history': 'No payments found'}}</p>
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element">
      {{element.date.toDate() | date:'MMM d, y, HH:mm'}}
    </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price (MAD) </th>
    <td mat-cell *matCellDef="let element">
      <b>{{element.price}}</b>
    </td>
  </ng-container>
  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element">
      {{element.note}}
    </td>
  </ng-container>
  <ng-container matColumnDef="by">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <i *ngIf="element.idClient !== client.id">
        Payed by <a matTooltip="View profile"
          [routerLink]="['manager', 'clients', element.idClient]">{{element.idClient}}</a>
      </i>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['title']" class="title"></tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>