.header {
    font-size: 24px;
    text-align: center;
}

mat-expansion-panel {
    width: 90%;
    margin-left: 5%;
}

.title {
    text-align: center;
}

.mat-list-item {
    font-size: 12px;
}

table {
    width: 100%;
    text-align: center;
}

th.mat-header-cell {
    text-align: center;
}

.new-fab.mat-mini-fab {
    position: fixed;
    right: 25px;
    bottom: 65px;
}

mat-progress-spinner {
    margin-left: calc(50% - 25px);
    margin-bottom: 20px;
    margin-top: 40px;
}
