<h1 mat-dialog-title>Update personal information</h1>
<div mat-dialog-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutAlign="space-around stretch">
    <div ngModelGroup="name" fxLayout="column" fxLayoutAlign="space-around stretch">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput ngModel name="first" required>
        <mat-error>First name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput ngModel name="last" required>
        <mat-error>Last name is required</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>CIN</mat-label>
      <mat-icon matSuffix>credit_card</mat-icon>
      <input matInput ngModel name="cin">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput ngModel name="phone">
      <mat-icon matSuffix>phone_android</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address
        <mat-icon matSuffix>location_on</mat-icon>
      </mat-label>
      <textarea matInput ngModel name="address" rows="3"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Note
        <mat-icon matSuffix>description</mat-icon>
      </mat-label>
      <textarea matInput ngModel name="note" rows="3"></textarea>
    </mat-form-field>
    <button type="submit" [disabled]="!f.valid || loading" mat-raised-button color="primary">Save</button>
    <mat-progress-spinner *ngIf="loading" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
  </form>
</div>