<button mat-icon-button color="primary" [disabled]="isLoading" (click)="onPrevious()" matTooltip="Previoud month">
  <mat-icon>arrow_back</mat-icon>
</button>
<button class="right-btn" mat-icon-button color="primary" [disabled]="isLoading" (click)="onNext()" matTooltip="Next month">
  <mat-icon>arrow_forward</mat-icon>
</button>
<div class="container" id="cal-heatmap">
</div>
<p>{{curentStartDate.getFullYear()}}{{curentStartDate.getMonth() !== 0? '/' + (curentStartDate.getFullYear() + 1): ''}}</p>