.container {
    padding: 10px;
    overflow: auto;
    direction: rtl;
    background-color: rgba(0, 0, 0, 0.01);
}

.right-btn {
    float: right;
}

p {
    text-align: center;
    padding: 10px;
}