<button mat-icon-button color="primary" [disabled]="isLoading" (click)="onPrevious()"
  i18n-matTooltip="@@a-c-previous" matTooltip="Previous month">
  <mat-icon>arrow_back</mat-icon>
</button>
<button class="right-btn" mat-icon-button color="primary" [disabled]="isLoading" (click)="onNext()"
i18n-matTooltip="@@a-c-next" matTooltip="Next month">
  <mat-icon>arrow_forward</mat-icon>
</button>
<mat-progress-spinner *ngIf="isLoading" [diameter]="25" mode="indeterminate"></mat-progress-spinner>
<div class="container" id="cal-heatmap" #c></div>
<!-- This hidden section is for xi18n command, translated text will be used in typescript -->
<div class="translation" #i18n>
  <p i18n="@@m-c-p-checkins-msg1">Failed getting training sessions data</p>
  <p i18n="@@m-c-p-checkins-session">session</p>
  <p i18n="@@m-c-p-checkins-sessions">sessions</p>
</div>